/*Reset styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-ms-clear {
  display: none;

}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

hr {
  border: 0;
  margin: 10px 0px 0px 0px;
  display: block;
  background-color: #E5E5E5;
  width: 100%;
  height: 1px;
}

/* STLYLES */
html {
  scroll-behavior: smooth;
}

/* SLIDER */
::-webkit-scrollbar {
  width: 9px;
  /* ширина для вертикального скролла */
  height: auto;
  /* высота для горизонтального скролла */
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #343DAC;
  border-radius: 10px;
}

/* BODY */

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1120px;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}

/*  HEADER  */
.header {
  background: #545EE1;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__img {
  width: 140px;
  height: 54px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  padding-right: 35px;
}

.header-link {
  color: #BDC2FF;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.header-link:hover {
  color: #fff;
  transition: all .2s ease-in-out;
}

.header-link--active {
  color: #fff;
  font-weight: bold;
}

/* MAIN */
main {
  margin-bottom: 50px;
}

/*  HERO  */
.hero {
  background-color: #545EE1;
  height: 796px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

.section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
  margin: 0 auto 70px auto;
}

.section__text {
  width: 50%;
  display: block;
}

.section__title {
  font-size: 40px;
  color: #333333;
  font-weight: 700;
}

.hero__title {
  color: #fff;
  margin-bottom: 25px;
}

.hero__subject {
  font-size: 24px;
  font-weight: 500;
  color: #E5E5E5;
  text-transform: capitalize;
  margin-bottom: 86px;
}

.section__illustration {
  width: 50%;
  padding-left: 40px;
  position: relative;
}

/*  BUTTON  */
.button-wrapper {
  display: flex;
  align-items: center;
}

.contact-us__button {
  background-color: #fff;
  font-size: 24px;
  color: #080A2B;
  font-weight: 600;
  border-radius: 10px;
  padding: 23px 63px;
  transition: all .2s ease-in-out;
}

.contact-us__button:hover {
  transform: scale(1.02);
}

.contact-us__button:active {
  transform: scale(0.98);
  opacity: 80%;
}

.play__button {
  background-color: transparent;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  padding: 23px 40px;
}

.play__button:hover .play-icon {
  transform: scale(1.1);
}

.play-icon {
  padding-right: 8px;
  transition: all .2s ease-in-out;
}

.hero-illustration__item-1 {
  position: absolute;
  left: 20%;
  top: 35px;

  animation-name: shaking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shaking {
  0% {
    top: 35px;
  }

  25% {
    top: 40px;
  }

  50% {
    top: 30px;
  }

  75% {
    top: 40px;
  }

  100% {
    top: 35px;
  }
}

.hero-illustration__item-2 {
  position: absolute;
  left: 26%;
  top: 35%;

  animation-name: rotating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.hero-illustration__item-3 {
  position: absolute;
  right: 7%;
  top: 33%;

  animation-name: rotating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.hero-illustration__item-4 {
  position: absolute;
  right: 24%;
  bottom: 5%;

  animation-name: rotating;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(90deg);
  }

  75% {
    transform: rotate(135deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

/*  ABOUT  */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 170px;
}

.about-illustration {
  width: 45%;
  margin-right: 55px;
}

.about-text {
  width: 50%;
}

.about-title {
  margin-bottom: 20px;
}

.about-subtitle {
  font-weight: 600;
  color: #333;
  margin-bottom: 40px;
}

.about-subject {
  color: #666;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.18px;
  text-transform: capitalize;
  margin-bottom: 80px;
}

/*  SERVICES  */

.services.container {
  padding: 0px;
}

.services {
  margin-bottom: 60px;
}

.services__title {
  margin-bottom: 20px;
}

.services__subject {
  font-weight: 500;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.services__item {
  position: relative;
  width: 360px;
  height: 345px;
  border-radius: 40px;
  border: 1px solid #f1f1f1;
  padding: 50px 20px 36px 20px;
  text-align: center;
  transition: all .2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.services__circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.services__item:first-child .services__circle {
  background-color: white;
}

.services__item:nth-child(2) .services__circle {
  background-color: white;
}

.services__item:nth-child(3) .services__circle {
  background-color: white;
}

.services__item:nth-child(4) .services__circle {
  background-color: #f4fff3;
}

.services__item:nth-child(5) .services__circle {
  background-color: #faefff;
}

.services__item:nth-child(6) .services__circle {
  background-color: #f1fffc;
}

.services__item-title {
  font-size: 22px;
  font-weight: 600;
  transition: all .2s ease-in-out;
}

.services__item-text {
  color: #666666;
  line-height: 30px;
  letter-spacing: 1%;
  transition: all .2s ease-in-out;
}

.services__icon g path {
  transition: all .2s ease-in-out;
}

.services__item:hover {
  cursor: pointer;
  background-color: #545EE1;
  border-color: #545EE1;
  box-shadow: 0 4px 15px #545EE1;
}

.services__item:hover .services__circle {
  background-color: #979de6;
}

.services__item:hover .services__icon g path {
  fill: white;
}

.services__item:hover .services__item-title {
  color: white;
}

.services__item:hover .services__item-text {
  color: #E5E5E5;
}

/* SPECIALITY */
.speciality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 148px;
}

.speciality-text {
  width: 50%;
}

.speciality-title {
  margin-bottom: 82px;
  ;
}

.speciality__list {
  padding-left: 50px;
}

.speciality__item:not(:last-child) {
  margin-bottom: 45px;
}

.speciality__item {
  position: relative;
  font-size: 18px;
  color: #666;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}

.speciality__item::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../pictures/icons/check-mark.png') center no-repeat;
  left: -45px;
  top: 0px;
}

.speciality-illustration {
  width: 54%;
  position: relative;
  right: -10%;
}

/* PROJECTS */
.projects__text {
  margin-bottom: 66px;
}

.projects__title {
  margin-bottom: 15px;
}

.projects__subject {
  font-weight: 600;
}

.projects__button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.projects__button-item:not(:last-child) {
  margin-right: 48px;
}

.projects__button {
  font-size: 18px;
  color: #b2b2b2;
  font-weight: 600;
  background: #ffffff;
}

.projects__button--active {
  color: #545EE1;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__item:nth-child(1) {
  width: 65%;
  margin-bottom: 30px;
}

.projects__item:nth-child(2) {
  width: 30%;
  margin-bottom: 30px;
}

.projects__item:nth-child(3) {
  width: 30%;
}

.projects__item:nth-child(4) {
  width: 65%;
}

/* REVIEWS */

.reviews {
  background: #8D94F6;
  height: 530px;
  position: relative;
  padding-top: 40px;
  margin-bottom: 160px;
}

.reviews::before {
  position: absolute;
  content: '';
  width: 166px;
  height: 137px;
  background: url('../pictures/icons/whatSay/quotes.png');
  top: 53px;
  right: 48%;
}

.reviews__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.reviews__text {
  width: 45%;
}

.reviews__title {
  color: white;
  margin-bottom: 35px;
  width: 410px;
}

.reviews__subject {
  color: white;
  text-transform: capitalize;
  width: 70%;
  line-height: 30px;
}

/* SWIPER */
.reviews__swiper {
  width: 50%;
  position: relative;
  padding-left: 100px;
}

.reviews__swiper-wrapper {
  margin-bottom: 40px;
}

.reviews__swiper-list {
  position: relative;
  width: 130%;
}

.reviews__item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  width: 64%;
  position: relative;
}

.reviews__item:nth-child(odd) {
  margin-left: 89px;
}

.reviews__item:nth-child(even) {
  flex-direction: row-reverse;
}

.reviews__item-text {
  width: 70%;
  margin-left: 35px;
}

.reviews__user-name {
  color: #666666;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.reviews__user-message {
  color: #B2B2B2;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1%;
  line-height: 28px;
  font-weight: 400;
}

.reviews__swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 50%;
  width: 13px;
  height: 13px;
}

.reviews__swiper-pagination .swiper-pagination-bullet-active {
  background: #545EE1;
  opacity: 100%;
  width: 15px;
  height: 15px;
}

/* BLOG */
.blog {
  margin-bottom: 150px;
}

.blog__text {
  margin-bottom: 80px;
}

.blog__title {
  margin-bottom: 18px;
}

.blog__subject {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

/* SLIDER */
.blog__swiper-wrapper {
  padding-bottom: 75px;
}

.blog__swiper-slide {
  width: 30%;
}

.blog__swiper-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blog-item {
  margin-right: 20px;
}

.blog-item img {
  border-radius: 10px;
  background-size: cover;
  width: 100%;
  margin-bottom: 21px;
}

.blog-item h3 {
  font-size: 26px;
  color: #191919;
  font-weight: 500;
  width: 80%;
  line-height: 36px;
}

.blog__swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}


.blog__swiper-pagination .swiper-pagination-bullet {
  background: #545EE1;
  opacity: 30%;
  width: 10px;
  height: 10px;

}

.blog__swiper-pagination .swiper-pagination-bullet-active {
  background: #545EE1;
  opacity: 100%;
  width: 15px;
  height: 15px;
}

/* SUBSCRIBE */
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-title {
  width: 40%;
}

.subscribe-subject {
  color: #191919;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 11px;
  line-height: 36px;
}

.subscribe-paragraph {
  font-size: 16px;
  color: #666;
  line-height: 26px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 3%;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F9FCFB;
  border-radius: 15px;
  padding: 9px;
  width: 45%;
  height: 70px;
  box-shadow: 0px 5px 15px #d2d2d2;
}

.subscribe-input {
  height: 100%;
  padding: 10px;
  padding-top: 18px;
  background-color: white;
  border: 1px solid transparent;
  width: 100%;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 16px;
  color: #333333;

  transition: all .2s ease-in;
}

.subscribe-input:focus {
  border: 1px solid #979de6;

}

.subscribe-input::placeholder {
  font-size: 16px;
  color: #666;
}

.subscribe-button {
  height: 100%;
  background: #545EE1;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 37px;

  border: 1px solid transparent;
  transition: all .2s ease-in-out;
}

.subscribe-button:hover {
  border: 1px solid #545EE1;
  color: #545EE1;
  background: white;
}

/* FOOTER */
.footer {
  padding: 60px 0px;
  display: grid;
  justify-content: space-between;
  align-self: flex-start;
  gap: 50px;
  grid-template-columns: 350px 1fr;
}

.footer-logo {
  width: 140px;
  height: 54px;
  margin-bottom: 34px;
}

.footer-paragraph {
  font-size: 15px;
  color: #666666;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 3%;
  text-transform: capitalize;
}

.footer-navigation {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1.1fr 1.4fr;
}

.footer-navigation .footer-column:not(:last-child) {
  padding-right: 35px;
}

.column-name {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 600;
  columns: #191919;
}

.footer-item {
  margin-bottom: 25px;
}

.footer-link {
  position: relative;
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  opacity: 0.8;
}

.footer-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #666666;
  left: 100%;
  bottom: 0px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.62, -0.55, 0.4, 1.55);
}

.footer-link:hover {
  color: #545EE1;
  opacity: 1;
}

.footer-link:hover::after {
  background-color: #545EE1;
  opacity: 1;
  left: 0%;
}

.get-in-text {
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  line-height: 46px;
  font-family: "Poppins", sans-serif;
}

.social {
  display: flex;
  align-items: center;
}

.social li:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  transition: all .2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
}