/*-----Reset styles-----*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-ms-clear {
  display: none;

}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*----- STLYLES -----*/



/*----- SLIDER -----*/
::-webkit-scrollbar {
  width: 9px;
  /* ширина для вертикального скролла */
  height: auto;
  /* высота для горизонтального скролла */
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #343DAC;
  border-radius: 10px;
}

/*----- BODY -----*/

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1120px;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}

/* ----- HEADER ----- */
.header {
  background: #545EE1;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__img {
  width: 140px;
  height: 54px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  padding-right: 35px;
}

.header-link {
  color: #BDC2FF;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.header-link:hover {
  color: #fff;
  transition: all .2s ease-in-out;
}

.header-link--active {
  color: #fff;
  font-weight: bold;
}

/* ----- HERO ----- */
.hero {
  background-color: #545EE1;
  height: 796px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

.section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
  margin: 0 auto 70px auto;
}

.section__text {
  width: 50%;
  display: block;
}

.section__title {
  font-size: 40px;
  color: #333333;
  font-weight: 700;
}

.hero__title {
  color: #fff;
  margin-bottom: 25px;
}

.hero__subject {
  font-size: 24px;
  font-weight: 500;
  color: #E5E5E5;
  text-transform: capitalize;
  margin-bottom: 86px;
}

.section__illustration {
  width: 50%;
  padding-left: 40px;
  position: relative;
}

/* ----- BUTTON ----- */
.button-wrapper {
  display: flex;
  align-items: center;
}

.contact-us__button {
  background-color: #fff;
  font-size: 24px;
  color: #080A2B;
  font-weight: 600;
  border-radius: 10px;
  padding: 23px 63px;
  transition: all .2s ease-in-out;
}

.contact-us__button:hover {
  transform: scale(1.02);
}

.contact-us__button:active {
  transform: scale(0.98);
  opacity: 80%;
}

.play__button {
  background-color: transparent;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  padding: 23px 40px;
}

.play__button:hover .play-icon {
  transform: scale(1.1);
}

.play-icon {
  padding-right: 8px;
  transition: all .2s ease-in-out;
}

.hero-illustration__item-1 {
  position: absolute;
  left: 20%;
  top: 35px;

  animation-name: shaking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shaking {
  0% {
    top: 35px;
  }

  25% {
    top: 40px;
  }

  50% {
    top: 30px;
  }

  75% {
    top: 40px;
  }

  100% {
    top: 35px;
  }
}

.hero-illustration__item-2 {
  position: absolute;
  left: 26%;
  top: 35%;

  animation-name: rotating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.hero-illustration__item-3 {
  position: absolute;
  right: 7%;
  top: 33%;

  animation-name: rotating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.hero-illustration__item-4 {
  position: absolute;
  right: 24%;
  bottom: 5%;

  animation-name: rotating;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(90deg);
  }

  75% {
    transform: rotate(135deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

/* ----- ABOUT ----- */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 170px;
}

.about-illustration {
  width: 45%;
  margin-right: 55px;
}

.about-text {
  width: 50%;
}

.about-title {
  margin-bottom: 20px;
}

.about-subtitle {
  font-weight: 600;
  color: #333;
  margin-bottom: 40px;
}

.about-subject {
  color: #666;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.18px;
  text-transform: capitalize;
  margin-bottom: 80px;
}

/* ------ SERVICES ------ */

.services.container {
  padding: 0px;
}

.services__title {
  margin-bottom: 20px;
}

.services__subject {
  font-weight: 500;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.services__item {
  position: relative;
  width: 360px;
  height: 345px;
  border-radius: 40px;
  border: 1px solid #f1f1f1;
  padding: 50px 20px 36px 20px;
  text-align: center;
  transition: all .2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.services__circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.services__item:first-child .services__circle {
  background-color: white;
}

.services__item:nth-child(2) .services__circle {
  background-color: white;
}

.services__item:nth-child(3) .services__circle {
  background-color: white;
}

.services__item:nth-child(4) .services__circle {
  background-color: #f4fff3;
}

.services__item:nth-child(5) .services__circle {
  background-color: #faefff;
}

.services__item:nth-child(6) .services__circle {
  background-color: #f1fffc;
}

.services__item-title {
  font-size: 22px;
  font-weight: 600;
  transition: all .2s ease-in-out;
}

.services__item-text {
  color: #666666;
  line-height: 30px;
  letter-spacing: 1%;
  transition: all .2s ease-in-out;
}

.services__icon g path {
  transition: all .2s ease-in-out;
}

.services__item:hover {
  cursor: pointer;
  background-color: #545EE1;
  border-color: #545EE1;
  box-shadow: 0 4px 15px #545EE1;
}

.services__item:hover .services__circle {
  background-color: #979de6;
}

.services__item:hover .services__icon g path {
  fill: white;
}

.services__item:hover .services__item-title {
  color: white;
}

.services__item:hover .services__item-text {
  color: #E5E5E5;
}